<th><%= Symptom.human_attribute_name(:name) %></th>
<th>
  <p><%= Symptom.human_attribute_name(:type) %></p>
  <p><%= Symptom.human_attribute_name(:bodily) %></p>
</th>
<th><%= Symptom.human_attribute_name(:bodies) %></th>
<th><%= Symptom.human_attribute_name(:diagnose_id) %></th>
<th><%= Symptom.human_attribute_name(:causes) %></th>
<th><%= Symptom.human_attribute_name(:mutable) %></th>
<th>
  <p><%= Symptom.human_attribute_name(:primary) %></p>
  <p><%= Symptom.human_attribute_name(:physical) %></p>
</th>
<th><%= Symptom.human_attribute_name(:sequence) %></th>
<th></th>
