<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Diagnose.human_attribute_name(:name) %></th>
      <th><%= Diagnose.human_attribute_name(:actor) %></th>
      <th>
        <%= link_to new_panel_diagnose_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fa-light fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @diagnoses.each do |diagnose| %>
    <tr>
      <td><%= diagnose.name %></td>
      <td><%= diagnose.actor_i18n %></td>
      <td>
        <%= link_to knowable_my_knowledges_path('Diagnose', diagnose), aria: { label: '知识' }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-book-medical"></i>
        <% end %>
        <%= link_to panel_diagnose_path(diagnose), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-circle-info"></i>
        <% end %>
        <%= link_to edit_panel_diagnose_path(diagnose), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
        <%= link_to panel_diagnose_path(diagnose), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-light fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @diagnoses %>
