<tr>
  <td class="has-text-right"><%= Med::Body.human_attribute_name(:name) %></td>
  <td><%= @body.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Med::Body.human_attribute_name(:image) %></td>
  <td><%= image_tag @body.image if @body.image.attached? %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Med::Body.human_attribute_name(:images) %></td>
  <td><%= @body.images %></td>
</tr>
