<tr>
  <td class="has-text-right"><%= Body.human_attribute_name(:name) %></td>
  <td><%= @body.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Body.human_attribute_name(:image) %></td>
  <td><%= @body.image %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Body.human_attribute_name(:images) %></td>
  <td><%= @body.images %></td>
</tr>
