<div class="<%= active_helper(modules: 'med/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-lungs"></i>
    <span><%= t('med.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('med.panel.symptoms.index.title'), { controller: 'med/panel/symptoms' }, class: active_helper(controllers: 'symptoms', active: 'is-active') %>
    <%= link_to t('med.panel.diagnoses.index.title'), { controller: 'med/panel/diagnoses' }, class: active_helper(controllers: 'diagnoses', active: 'is-active') %>
    <%= link_to t('med.panel.bodies.index.title'), { controller: 'med/panel/bodies' }, class: active_helper(controllers: 'bodies', active: 'is-active') %>
    <%= link_to t('med.panel.causes.index.title'), { controller: 'med/panel/causes' }, class: active_helper(controllers: 'causes', active: 'is-active') %>
    <%= link_to t('med.panel.treats.index.title'), { controller: 'med/panel/treats' }, class: active_helper(controllers: 'treats', active: 'is-active') %>
    <%= link_to t('med.panel.diseases.index.title'), { controller: 'med/panel/diseases' }, class: active_helper(controllers: 'diseases', active: 'is-active') %>
  </div>
</div>
